<form (ngSubmit)="onSubmit()" class="update-asset-form">
  <h3>Update Asset</h3>
  
  <div class="form-group">
    <label for="assetId">Asset ID:</label>
    <input [(ngModel)]="asset.assetId" name="assetId" id="assetId" class="form-control" disabled>
  </div>
  
  <div class="form-group">
    <label for="assetName">Asset Name:</label>
    <input [(ngModel)]="asset.assetName" name="assetName" id="assetName" class="form-control">
  </div>
    
  <div class="form-group">
    <label for="assetType">Asset Type:</label>
    <input [(ngModel)]="asset.assetType" name="assetType" id="assetType" class="form-control">
  </div>
  
   
<div class="form-group">
  <label for="assignedTo">Assigned To:</label>
  <select class="form-control" id="assignedTo" name="assignedTo" [(ngModel)]="asset.assignedTo">
      <option value="" selected>No one</option>
      <option *ngFor="let username of availableUsernames" [value]="username">{{ username }}</option>
  </select>
</div>

  <div class="button-group">
    <button type="submit" class="btn btn-update">Update</button>
    <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
  </div>
</form>
