.admin-navbar {
    background-color: #0ea77c;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .navbar-toggler-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
  }
  
  .navbar-brand {
    color: white;
   
  }
  
  .menu-options {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fbf9f9;
    border: 1px solid #100f0f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    z-index: 1000;
  }
  
  .menu-options.show {
    display: block;
  }
  
  .menu-options a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .menu-options a:hover {
    background-color: #f0f0f0;
  }
  






