.side-menu {
    position: relative; 
    z-index: 1000;    
}

.menu-options {
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    padding: 10px;
    display: none;
   
    
}



.menu-options.show {
    display: block;

}

.menu-options a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 15px 10px;
    background-color: white; 
    transition: background-color 0.3s ease;
}

.menu-options a:hover {
    background-color: #b5b4b4;

}




