.no-assets-card {
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    border-radius: 8px; 
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:250px ;
    margin-left: 100px;
    
  }




  
  