
.modal-content {
    position: relative;
  }
  
.close-modal{
    position: absolute;
    top: 0; 
    right: 0; 
  }
 
Close-icon:hover{
 color:black;
}

.btn-yes-modal{
 background-color: #c3266d;

}

.btn-yes-modal:hover{
background-color: #9c1250;
    
}

.btn-no-modal{
 background-color: #0ea77c;

}

.btn-no-modal:hover{
background-color: #0c795a;
    
}