
<nav class="navbar navbar-light user-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
        <app-user-sidemenu></app-user-sidemenu>
        </div>
        <div class="col-8 d-flex align-items-center">
          <span class="navbar-brand">Asset Tracker</span>
          <button class="navbar-toggler d-none" type="button" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <button class="signout-button" (click)="signout()">Signout</button>
        </div>
      </div>
    </div>
  </nav>