<app-nav-bar></app-nav-bar>
<section class="py-5">
    <div class="container px-4 px-lg-6 py-5">
        <div class="row gx-4 gx-lg-5 align-items-center mt-5">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="../../../../assets/Signup.jpg">
            </div>
            <div class="col-md-6 md-5 ">
                <div class="container">
                  <div class="text">
                <h2>Registration Form</h2>
                <p> <b>Already a member?</b>  <a routerLink="/login">Login</a></p>
            </div>
               <div>
                    
                   <form #registration='ngForm' (ngSubmit) ="submit(signup)" autocomplete="off">
                    <div class="form-group">
                      <label for ="username">Username:</label><br>
                      <input type="text" name="username" class="form-control" ngModel>
                </div>
                     <div class="form-group">
                        <label for ="firstname">First name:</label><br>
                          <input #name="ngModel" required minlength="3"  type="text" name="firstname" class="form-control" pattern="[A-Za-z]{1,32}" ngModel>
                           <div *ngIf="name.touched && name.invalid" class="error" > 
                             <p *ngIf="name.errors?.['required']">First name Required!!</p>
                             <p *ngIf="name.errors?.['minlength']">Sorry! First name should have minimum 3 characters </p>
                             <p *ngIf="name.errors?.['pattern']">Please match the requested format</p>
                           </div>
                     </div>
                    <div class="form-group">
                        <label for ="Lastname">Last name:</label><br>
                          <input type="text" name="Lastname" class="form-control" ngModel>
                    </div>
                     <div class="form-group">
                         <label for ="email">Email address:</label><br>
                          <input #email="ngModel" required type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel>
                             <div *ngIf="email.touched && email.invalid" class="error"> 
                               <p *ngIf="email.errors?.['required']">Email Required!!</p>
                               <p *ngIf="email.errors?.['pattern']">Email name doesn't match the format</p>
                            </div>
                     </div>
                    <div class="form-group">
                          <label for ="Phoneno">Phone number:</label><br>
                          <input #Phoneno="ngModel"type="tel" name="Phoneno" class="form-control" placeholder="123-8965412" pattern="[0-9]{3}-[0-9]{7}" ngModel>
                             <div *ngIf="Phoneno.invalid" class="error"> 
                              <p *ngIf="Phoneno.errors?.['pattern']">Phone number doesn't match the format</p>
                            </div>
                    </div>
                    
                    <div class="form-group">
                          <label for ="password">Password:</label><br>
                          <input #password="ngModel" required  minlength="5"type="password" name="password" class="form-control" ngModel>
                             <div *ngIf="password.touched && password.invalid" class="error"> 
                             <p *ngIf="password.errors?.['required']">password Required!!</p>
                             <p *ngIf="password.errors?.['minlength']">Sorry! Password should contain atleast 5 characters.</p>
                            </div>
                    </div>
                    <pre></pre>
                  <button class="btn"  [disabled]="!signup.valid" type="submit"> Sign Up</button>
                </form>
            </div>
         </div>
       </div>
            
    </div>
 </div>
</section>
<app-footer> </app-footer>