<div class="modals" id="deleteAssetDialog"  role="dialog" aria-labelledby="deleteUserDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0">
        <div class="modal-body">
             <p>Are you sure you want to delete this user?</p>
        </div>
        <div class="modal-footer border-0 justify-content-end">
          <button type="button" class="btn btn-yes-modal" (click)="confirm()">Yes</button>
          <button class="btn btn-no-modal" (click)="handleNoButtonClick()">No</button>
        
        </div>
      </div>
    </div>
  </div>
  