.table-container {
    margin-left: 180px; 
    margin-right: 150px;
  }


h5 {
    margin-top:30px ;
    margin-bottom: 50px; 
}

.form-control{
    max-width: 300px; 

}

.custom-input {
    margin-right: 20px; 
}


.add-button {
    background-color: #4CAF50; 
    border: none;
    margin-left: 800px;
    color: white;
    text-align: center;
    text-decoration: none;
   /* display: inline-block; */
    font-size: 16px;
    border-radius: 5px;
}

.edit-button{
    background-color: #0ea77c;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border:none;
}

.delete-button{
    background-color: #c3266d;
    font-size: 16px;
    margin-left: 30px;
    border-radius: 5px;
    border:none;

}