<app-nav-bar></app-nav-bar>
<section class="py-5">
    <div class="container px-4 px-lg-6 py-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 md-5 banner-text">
                <h1>Welcome to Asset Track !!!</h1>
                <h5> Welcome to TechNest Solutions Pvt. Ltd's exclusive employee asset management portal.
                     Simplifying asset tracking, optimizing inventory, and enhancing productivity for our valued team members.
                      Take charge of your resources with ease and efficiency, 
                      powered by TechNest Solutions - Your trusted partner in company growth.</h5>
                <div class="Button">
                    <a routerLink="/signup">Join the system</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="../../../../assets/HomePage1.jpg"  alt="Home page Image">
            </div>
        </div>
    </div>
</section>
<app-footer> </app-footer>
